[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-simpleui = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
